
body{
    background-color: aqua;
}

.top{
    width: 100%;
    height: 20%;
    text-align: center;
}

.middle{
    width: 100%;
    height: 50%;
    text-align: center;
}

.bottom{
    width: 100%;
    height: 30%;
    text-align: center;
}

